.menu__button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0px;
    font-size: $font-xl;
    line-height: 30px;
    color: $green-third;
    background-color: $white;
    border: none;
    text-align: center;

    span {
        display: none;
    }
}