  //base-colors
  $green-first: #B1D698;
  $green-second: #9FBDBA;
  $green-third: #86B366;

  //font-weight
  $font-light: 300;
  $font-bold: 600;

  //font-sizes
  $font-xxs: 1rem;
  $font-xs: 1.6rem;
  $font-s: 1.6rem;
  $font-m: 2.1rem;
  $font-l: 2.4rem;
  $font-xl: 4rem;