  *,
  *::before,
  *::after {
      box-sizing: border-box;
      outline: none;
  }

  html {
      font-size: 62.5%;
  }

  body {
      margin: 0px;
      font-size: 1.6rem;
  }

  // VARIABLES
  @import './_variables';

  // COMPONENTS
  @import './components/_atoms';
  @import './components/_molecules';
  @import './components/_organisms';

  // VIEWS
  @import './views/_MainPage';

  // LAYOUTS
  @import './layouts/_mainLayout';

  // FONTELLO
  @import "../asset/fontello/css/fontello.css";