 .menuPanel {
     position: absolute;
     width: 90%;
     top: 160px;
     left: 50%;
     flex-grow: 1;
     background-color: $green-first;
     transform: translateX(-50%);

     @media (min-width: $breakPoint-mobile) {
         position: fixed;
         width: 80%;
         max-width: 600px;
         left: 50%;
         top: 45%;
         transform: translate(-50%, -50%);
         background-color: transparent;
     }
 }