.menu {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: $green-first;
    justify-content: flex-end;
    border-bottom: 1px $white solid;
    color: $white;
    position: fixed;
    margin-bottom: 30px;
    z-index: 10;


    &::before {
        content: '';
        position: absolute;
        bottom: -45px;
        left: 0%;
        height: 45px;
        width: 100%;
        background: url('../asset/images/waves.png');
        z-index: 3;
        border-top: 2px solid $white;
    }

    .menu__panel {
        flex-grow: 1;
        position: absolute;
        width: 100%;
        top: 100px;
        background-color: $green-first;
    }

    .menu__list {
        display: none;
        list-style: none;
        text-align: center;
        font-size: $font-l;

        padding-top: 15px;

        li {
            a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 5px 0px;
                color: $white;
                text-decoration: none;
            }
        }
    }

    .menu__list--active {
        display: block;
    }

    .menu__hamburger {
        align-self: flex-end;
        margin: 10px 5px;
    }

    .menu__buttons {
        flex-grow: 1;

        button {
            margin: 5px 8px;
        }
    }

    .menu__typeOperation {
        display:flex;
        flex-direction: column;
        justify-content:space-around;
        width: 90%;
        min-height: 100px;
        margin: 0px auto;
        padding-top: 20px;
        font-size: $font-m;
        text-align: center;

     .menu__addButton{
         margin: 10px auto;
     }

        .menu__selectIcon {
            width: 100%;
            height: 90px;
            margin: 10px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            overflow-y: scroll;
            font-size: $font-m;
            border: 1px solid $white;
        }

        .menu__addButton {
            padding: 7px;
            background-color: $green-third;
        }
    }
}