.menu {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: $green-first;
    justify-content: flex-end;
    border-bottom: 1px $white solid;
    color: $white;
    position: fixed;
    margin-bottom: 30px;
    z-index: 10;

    //waves png
    &::before {
        content: '';
        position: absolute;
        bottom: -45px;
        left: 0%;
        height: 45px;
        width: 100%;
        background: url('../asset/images/waves.png');
        z-index: 3;
        border-top: 2px solid $white;
    }

    .menu__hamburger {
        align-self: flex-end;
        margin: 10px 5px;
    }


    .menu__Pageslist {
        display: none;
        list-style: none;
        text-align: center;
        font-size: $font-l;
        padding-top: 15px;

        &--active {
            display: block;
        }

        li {
            a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 5px 0px;
                color: $white;
                text-decoration: none;
            }
        }
    }

    @media (min-width: $breakPoint-mobile) {
        justify-content: flex-start;

        .menu__Pageslist {
            position: fixed;
            display: flex;
            height: 70px;
            top: 0%;
            right: 0%;

            li {
                a {
                    padding: 5px 15px;
                }
            }
        }

        .menu__hamburger {
            display: none;
        }
    }
}