.main {
    &__learn {
        width: 90%;
        flex-direction: column;
        margin: 0px auto;
        padding: 0px 30px;
        padding-top: 125px;

        @media (min-width: $breakPoint-mobile) {
            width: 90%;
            margin: 30px 10px;

        }
    }


    &__learnError {
        width: 100%;
        padding: 5px;
        margin: 10px 0px;
        text-align: center;
        background-color: $red-second;
        color: white;
        font-size: $font-m;
    }



    &__learnTable {
        flex-grow: 1;

        @media (min-width: $breakPoint-mobile) {
            flex-grow: 0;
        }
    }

}