.MP__types {
    height: 100vh;
    flex-wrap: wrap;
    padding-bottom: 70px;
    align-content: flex-start;

    div {
        flex-basis: 50%;
        text-align: center;
        margin: 20px 0px;
    }

    div:nth-of-type(3n) {
        flex-basis: 100%;
    }

    &_header {
        width: 100%;
        height: 100px;
        padding: 20px;
        color: white;
        text-align: center;
        background-color: $green-first;
        font-size: $font-l;
    }

    @media (min-width: $breakPoint-mobile) {
        background-color: $green-first;
        margin: 0px 10px;
    }


}