.main {
    &__wrapper {
        @media (min-width: $breakPoint-mobile) {
            display: flex;
        }
    }

    &__section {
        display: none;
        width: 100%;
        min-height: calc(100vh - 70px - 80px); // menus
        padding-top: 125px;

        @media (min-width: $breakPoint-mobile) {
            display: flex;
        }

        &--active {
            display: flex;
        }
    }
}