.MP__learn_tableWrapper {
    width: 100%;
    height: 100%;
    background-color: $green-third;
    font-size: $font-m;
    color: $white;
    text-align: center;
    padding: 4px;


    .MP__learn_hideHalfBTN {
        justify-items: center;
        margin: 10px auto;
        transform: translateX(-50%);

        &:nth-of-type(2) {
            transform: translateX(50%);
        }
    }

    .MP__learn_tableItem {
        display: flex;

        span {
            flex-grow: 1;
            flex-basis: 20%;
            border: 1px solid $white;
            padding: 8px 2px;
            line-height: $font-s;
            word-break: break-word;

            &.hidden {
                opacity: 0;
            }
        }

        .mainButton {
            flex-shrink: 0;
            font-size: $font-m;
            width: 28px;
            height: 28px;
            color: $black;
            margin-left: 4px;
            align-self: center;

            i::before {
                margin: 0px;
            }
        }
    }
}