 .menuPanel {
     &__operation {
         position: relative;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         width: 100%;
         min-height: 100px;
         margin: 0px auto;
         padding-top: 20px;
         font-size: $font-m;
         text-align: center;
         border: 5px solid white;
         box-shadow: 0px 0px 0px 12px $green-third;

         @media (min-width: $breakPoint-mobile) {
             background-color: $green-first;
             justify-content: center;
             padding: 10px;
             z-index: 11;
         }
     }

     &__iconsWrapper {
         width: 100%;
         height: 90px;
         margin: 10px auto;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         overflow-y: scroll;
         font-size: $font-m;
         border: 1px solid $white;
     }

     &__submit {
         padding: 7px;
         background-color: $green-third;
     }

     &__closeButton {
         position: absolute;
         top: 0%;
         right: 0%;
         transform: translate(50%, -50%);
         background-color: $green-third;
         color: $white;
     }

     &__submit {
         margin: 10px auto;
     }

     &__wrongStatement {
         padding: 7px;
         background-color: $white;
         color: $green-third;
     }
 }