.icons {
    cursor: pointer;
    width: 45px;
    height: 45px;
    padding: 2px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    font-size: $font-l;

    input {
        visibility: hidden;
        height: 0;
        width: 0;
        margin: 0px;
    }

    i::before {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: 0px;
        transform: translate(-50%, -50%);
    }

    &--active {
        background-color: nth($pink, 3);
    }
}