
.icon-params:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-cog-1:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-undo:before { content: '\e805'; } /* '' */
.icon-note:before { content: '\e806'; } /* '' */
.icon-attach:before { content: '\e807'; } /* '' */
.icon-arrows-ccw:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-flag:before { content: '\e80c'; } /* '' */
.icon-star:before { content: '\e80d'; } /* '' */
.icon-star-empty:before { content: '\e80e'; } /* '' */
.icon-videocam:before { content: '\e80f'; } /* '' */
.icon-camera-alt:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-lock:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-umbrella:before { content: '\e814'; } /* '' */
.icon-flight:before { content: '\e815'; } /* '' */
.icon-briefcase:before { content: '\e816'; } /* '' */
.icon-gift:before { content: '\e817'; } /* '' */
.icon-flashlight:before { content: '\e818'; } /* '' */
.icon-lifebuoy:before { content: '\e819'; } /* '' */
.icon-anchor:before { content: '\e81a'; } /* '' */
.icon-puzzle:before { content: '\e81b'; } /* '' */
.icon-cloud-inv:before { content: '\e81c'; } /* '' */
.icon-cancel-circled:before { content: '\e81d'; } /* '' */
.icon-hospital:before { content: '\e821'; } /* '' */
.icon-trash:before { content: '\f083'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */